<div class="transaction-list">
  @for (transaction of transactions(); track transaction.id) {
    <div class="transaction-item">
      <div class="transaction-content">
        <div class="transaction-bullet"></div>
        <div class="transaction-info">
          <div class="transaction-label">{{ transaction.name }}</div>
          <div class="transaction-date">{{ transaction.date | date:'short' }}</div>
        </div>
        <div
          class="transaction-amount"
          [class.credit]="isCredit(transaction.amount)"
          [class.debit]="!isCredit(transaction.amount)">
          {{ formatAmount(transaction.amount) }}
        </div>
      </div>
    </div>
  }
</div>
