<app-full-page-layout [showFooter]="true">
  <div class="menu-page">
    <app-go-back-header [title]="'menu.title' | translate"></app-go-back-header>
    <main class="menu-main">
      <nav class="menu-nav">
        <p>{{ 'menu.general' | translate }}</p>
        <button class="menu-item" (click)="navigateToMyAccount()">
          {{ 'menu.myAccount' | translate }}
        </button>
        <button class="menu-item" (click)="navigateToAbout()">
          {{ 'menu.about' | translate }}
        </button>
        <button class="menu-item" (click)="navigateToSettings()">
          {{ 'menu.settings' | translate }}
        </button>
        <p>{{ 'menu.advanced' | translate }}</p>
        <button class="menu-item" (click)="navigateToSwaps()">
          {{ 'menu.swaps' | translate }}
        </button>
        <button class="menu-item menu-item--danger" (click)="logout()">
          {{ 'menu.logout' | translate }}
        </button>
      </nav>
    </main>
  </div>
</app-full-page-layout>
