<app-full-page-layout [showFooter]="true">
  <div class="gas-tank-page">
    <app-go-back-header [title]="'gasTank.title' | translate"></app-go-back-header>

    <main class="gas-tank-main">
      <app-field
        [icon]="['fas', 'coins']"
        [value]="accountService.strkBalance() ?? '-'"
        suffix="STRK">
      </app-field>

      <div class="gas-tank-info">
        @if (accountService.strkBalance() === '0') {
          <p class="info-text">{{ 'gasTank.empty' | translate }}</p>
        } @else {
          <p class="info-text">{{ 'gasTank.description' | translate }}</p>
        }
      </div>
    </main>
  </div>
</app-full-page-layout>
