@reference "tailwindcss";

.btn {
  @apply inline-flex items-center justify-center gap-2
  px-4 py-2
  font-medium
  rounded-md
  transition-colors transition-transform
  duration-150
  focus:outline-none
  focus-visible:ring-2 focus-visible:ring-amber-500
  disabled:opacity-50 disabled:cursor-not-allowed w-full;
}

/* ---------- Special (Yellow) ---------- */

.btn-special {
  @apply bg-amber-500 border-2 border-amber-500 text-neutral-100;
  @apply hover:bg-amber-600 hover:border-amber-600;
  @apply active:bg-amber-600 active:border-amber-600;
  @apply disabled:opacity-50 disabled:cursor-not-allowed;
}

/* ---------- Primary (white) ---------- */

.btn-primary {
  @apply bg-neutral-100 border-2 border-neutral-100 text-neutral-900;
  @apply hover:bg-amber-600 hover:border-amber-600;
  @apply active:bg-amber-600 active:border-amber-600;
  @apply disabled:opacity-50 disabled:cursor-not-allowed;
}

/* ---------- Secondary ---------- */

.btn-secondary {
  @apply bg-transparent
  border-2 border-neutral-100
  text-neutral-100;

  @apply hover:bg-neutral-200 hover:text-neutral-900;
  @apply active:bg-neutral-200 hover:text-neutral-900;
  @apply disabled:opacity-50 disabled:cursor-not-allowed;
}

/* ---------- Tertiary ---------- */

.btn-tertiary {
  @apply bg-white rounded-full
  border-2 border-neutral-100
  text-neutral-900;

  @apply hover:bg-neutral-200 hover:text-neutral-900;
  @apply active:bg-neutral-200 hover:text-neutral-900;
  @apply disabled:opacity-50 disabled:cursor-not-allowed;
}

/* ---------- Big ---------- */

.btn-big {
  @apply bg-neutral-800
    border-2 border-neutral-800
    text-neutral-200 text-xl
    py-8;

  .btn-icon {
    font-size: 150%;
  }
}

/* ---------- Transparent ---------- */

.btn-transparent {
  @apply bg-transparent
  border border-transparent
  text-neutral-100;
  @apply disabled:opacity-50 disabled:cursor-not-allowed;
}

/* ---------- Icon ---------- */

.btn-icon {
  @apply inline-flex items-center;
}

.btn-spinner {
  display: inline-flex;
  width: 1.25em;
  height: 1.25em;
}
