<button
        type="button"
        class="btn"
        [class.btn-primary]="variant === 'primary'"
        [class.btn-secondary]="variant === 'secondary'"
        [class.btn-tertiary]="variant === 'tertiary'"
        [class.btn-big]="variant === 'big'"
        [class.btn-transparent]="variant === 'transparent'"
        [disabled]="disabled"
>
    @if (loading) {
        <app-spinner class="btn-spinner" [variant]="variant" aria-hidden="true"/>
    } @else if (icon) {
        <fa-icon [icon]="icon" class="btn-icon" aria-hidden="true"/>
    }
    <span class="btn-label">
    <ng-content></ng-content>
  </span>
</button>
