<app-full-page-layout [showFooter]="false">
  <div class="home-page">
    <header class="home-header">
      <div class="header-content">
        <h2 class="greeting">Hi {{ username }}</h2>
        <button
          class="menu-button"
          (click)="openMenu()"
          aria-label="Menu">
          <span class="menu-icon"></span>
          <span class="menu-icon"></span>
          <span class="menu-icon"></span>
        </button>
      </div>
    </header>

    <main class="home-main">
      <app-amount-highlight [originalAmount]="accountService.balance()" />
      <section class="transaction-container" (scroll)="onScroll($event)">
        @if (transactionService.displayedTransactions() === undefined) {
          <div class="loading-more"><app-spinner /></div>
        } @else if (transactionService.isEmpty()) {
          <app-empty-transaction />
        } @else {
          <app-transaction-list [transactions]="transactionService.displayedTransactions()!"></app-transaction-list>
          @if (transactionService.isLoadingMore()) {
            <div class="loading-more"><app-spinner /></div>
          }
        }
      </section>
    </main>

    <footer class="home-footer">
      <app-button
        [icon]="['fas', 'qrcode']"
        class="footer-button"
        variant="transparent"
        sizeVariant="lg"
        (click)="onReceive()"
      >
        Receive
      </app-button>
      <div class="footer-divider"></div>
      <app-button
        [icon]="['fas', 'location-arrow']"
        class="footer-button"
        variant="transparent"
        sizeVariant="lg"
        (click)="onPay()"
      >
        Pay
      </app-button>
    </footer>
  </div>
</app-full-page-layout>
