<div class="swap-item" [class]="statusClass()">
  <div class="swap-content">
    <div class="swap-status-indicator" [class.polling]="isPolling()"></div>
    <div class="swap-info">
      <div class="swap-direction">{{ directionKey() | translate }}</div>
      <div class="swap-date">{{ swap().createdAt | date:'short' }}</div>
    </div>
    <div class="swap-right">
      <div
        class="swap-amount"
        [class.credit]="swap().type === 'receive'"
        [class.debit]="swap().type === 'send'">
        {{ formattedAmount() }}
      </div>
      <div class="swap-status">{{ statusKey() | translate }}</div>
    </div>
  </div>
</div>
