@reference "tailwindcss";

.balance-display {
  @apply flex flex-col justify-center gap-4 p-4;

  .balance-amount-container {
    @apply flex justify-center;
    @apply rounded-lg p-10 ;
    --bg-color: theme('colors.neutral.800');
    --border-top: theme('colors.amber.600');
    --border-bottom: theme('colors.amber.400');
    border: 2px solid transparent;
    background:
      linear-gradient(var(--bg-color), var(--bg-color)) padding-box,
      linear-gradient(to bottom, var(--border-top), var(--border-bottom)) border-box;

    .balance-amount {
      @apply text-4xl font-bold text-white mb-2;
    }
  }

  app-currency-display {
    @apply flex justify-center;
  }
}

