@reference "tailwindcss";

/* Reset for all form elements */
input,
textarea,
select,
button {
  border: none;
  border-radius: 0;
  box-shadow: none;
}

:root {
  @apply bg-black text-neutral-100;
  body {
    margin: 0;
  }
}


