@use 'styles-colors.scss';
@use 'styles-notifications.scss';
@reference "tailwindcss";

// MEMO
// https://tailwindcss.com/docs/colors

/* Reset for all form elements */
input,
textarea,
select,
button {
  border: none;
  border-radius: 0;
  box-shadow: none;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
  @apply h-full w-full m-0 p-0 overflow-hidden;
}

html {
  @apply bg-black text-neutral-100;
}

app-root {
  @apply block h-full w-full overflow-hidden;
}

