<div class="transaction-list">
  @for (t of transactions(); track t.original.id) {
    <div class="tx-row" [class.tx-in]="t.isCredit" [class.tx-out]="!t.isCredit">
      <div class="tx-icon">
        <fa-icon [icon]="iconFor(t)"/>
      </div>
      <div class="tx-body">
        <div class="tx-label">{{ t.original.description ?? ('transactions.type.' + t.original.type | translate) }}</div>
        <div class="tx-meta">
          <app-rail-badge [network]="t.network"/>
          <span>{{ t.original.timestamp | date:'MMM d · h:mm a':'':locale() }}</span>
        </div>
      </div>
      <div class="tx-amount tabular">
        {{ t.formattedAmount }}
        @if (t.formattedAmountSecondary; as sec) {
          <small>{{ sec }}</small>
        }
      </div>
    </div>
  }
</div>
