<app-full-page-layout [showFooter]="true">
  <div class="pay-confirm-page">
    <app-go-back-header [title]="'payConfirm.title' | translate"></app-go-back-header>

    <main class="pay-confirm-main">
      <div class="payment-details">
        @if (payment(); as p) {
          <app-network-logo [network]="p.network" style="height:48px"/>
          <app-amount-highlight [originalAmount]="p.amount"/>
          <div class="payment-fields">
            <app-field
              [label]="'payConfirm.to' | translate"
              [title]="p.destination"
              [value]="p.shortDestination"
              [monospace]="true"
            />
            <app-field
              [editable]="true"
              [value]="description()"
              (valueChange)="onDescriptionChange($event)"
            />
            <app-amount-field
              [currencyToggle]="false"
              [amount]="computedFee()"
              [label]="'payConfirm.fee' | translate"
            />
          </div>
        } @else {
          <app-network-logo [loading]="true" style="height:48px"/>
          <app-amount-highlight/>
          <div class="payment-fields">
            <app-field
              [label]="'payConfirm.to' | translate"
              value=""
              [monospace]="true"
            />
            <app-field
              [editable]="true"
              [value]="description()"
              (valueChange)="onDescriptionChange($event)"
            />
            <app-amount-field
              [currencyToggle]="false"
              [label]="'payConfirm.fee' | translate"
            />
          </div>
        }
        <app-button
          class="confirm-button"
          variant="tertiary"
          [icon]="['fas', 'location-arrow']"
          [loading]="isProcessing()"
          [disabled]="!paymentAvailable() || isProcessing()"
          (click)="confirm()"
        >
          @if (isProcessing()) {
            {{ 'payConfirm.processing' | translate }}
          } @else {
            {{ 'payConfirm.pay' | translate }}
          }
        </app-button>
      </div>
    </main>
  </div>
</app-full-page-layout>
