@reference "tailwindcss";

:host {
  display: block;
  width: 100%;
  height: 100%;
  @apply text-amber-500;
}

// Spinner color contrasts with its background

:host(.gold) {
  @apply text-neutral-100;
}

:host(.white) {
  @apply text-neutral-900;
}

:host(.black) {
  @apply text-neutral-200;
}

:host(.danger) {
  @apply text-neutral-100;
}

svg {
  width: 100%;
  height: 100%;
}
