
registry=https://registry.npmjs.org

@adrienlacombe:registry=https://npm.pkg.github.com
@atomiqlabs:registry=https://registry.npmjs.org/
@noble:registry=https://registry.npmjs.org/
@scure:registry=https://registry.npmjs.org/
@abi-wan-kanabi:registry=https://registry.npmjs.org/
