<app-full-page-layout [showFooter]="true">
  <div class="auth-page">
    <header>
      <img src="/logo-baseline.png" alt="Bim_Logo" style="height:48px;"/>
      <h1 class="welcome-message">{{ 'auth.tagline' | translate }}</h1>
    </header>
    <main>
      <section class="sign-in-section">
        <h2>{{ 'auth.signIn' | translate }}</h2>
        <p>{{ 'auth.useDeviceSecurity' | translate }}</p>
        <app-button
          class="sign-in-button"
          colorVariant="gold"
          variant="primary"
          (click)="onSignIn()"
          [disabled]="authService.isLoading()"
        >
          {{ 'auth.signIn' | translate }}
        </app-button>
      </section>
      <div class="divider">
        <span>{{ 'auth.orCreateAccount' | translate }}</span>
      </div>
      <section class="sign-up-section">
        <input
          type="text"
          class="username-input"
          [placeholder]="'auth.chooseUsername' | translate"
          [value]="username()"
          (input)="updateUsername($event)"
          [disabled]="authService.isLoading()"
        />
        <app-button
          class="sign-up-button"
          colorVariant="black"
          variant="secondary"
          (click)="onSignUp()"
          [disabled]="authService.isLoading() || !username()"
        >
          {{ 'auth.signUp' | translate }}
        </app-button>
      </section>
    </main>
  </div>
</app-full-page-layout>
