# Server
PORT=8080
NODE_ENV=development

# Database
DATABASE_URL=postgresql://user:password@localhost:5432/bim

# Starknet
STARKNET_RPC_URL=https://starknet-sepolia.public.blastapi.io/rpc/v0_7
ACCOUNT_CLASS_HASH=0x036078334509b514626504edc9fb252328d1a240e4e948bef8d0c08dff45927f

# AVNU Paymaster
AVNU_API_URL=https://starknet.api.avnu.fi
AVNU_API_KEY=

# WebAuthn
WEBAUTHN_RP_ID=localhost
WEBAUTHN_RP_NAME=BIM
WEBAUTHN_ORIGIN=http://localhost:8080
